@model PacienteDominio.Entidades.Usuario

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Paciente", FormMethod.Post))
{
    <h1>Por favor, logue no sistema para continuar.</h1>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.NomeUsuario)</td>
            <td>@Html.TextBoxFor(a => a.NomeUsuario)</td>
            <td>@Html.ValidationMessageFor(a => a.NomeUsuario)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Senha)</td>
            <td>@Html.PasswordFor(a => a.Senha)</td>
            <td>@Html.ValidationMessageFor(a => a.Senha)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}